/* tl-strap (to not get confused with bootstrap) */

.tl-navbar-container {
  position: fixed;
  background-color: #FFF;
  top: 0;
  width: 100%;
  text-align: center;
  -webkit-box-shadow: 0px 0px 2px 2px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 0px 0px 2px 2px #ccc;  /* Firefox 3.5 - 3.6 */
  box-shadow: 0px 0px 2px 2px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
  height: 110px;
  opacity: 0.9;
  z-index: 999;

  .tl-logo-container {
    width: 100%;
    padding: 5px 0;

    .tl-navbar-logo {
      content: url('http://res.cloudinary.com/hgahynedu/image/upload/v1428450621/hh_logo_ghtsea.png');
      display: inline-block;
      height: 50px;
    }

  }

  .tl-nav-links {
    margin-top: 5px;
    list-style-type: none;
    padding: 5px 0;

    li {
      display: inline-block;
      padding: 0 15px;

      .active {
        color: $hh_orange;
      }

      a {
        color: $hh_gray;
        font-size: 18px;
        font-weight: 600;
        text-decoration: none;
        cursor: pointer;

        &:hover {
          color: $hh_orange;
        }
      }

      .i-link {
        color: $hh_red;
        padding-left: 5px;
      }
    }
  }
}


/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width : 320px) and (max-width : 640px) {
/* Styles */
.tl-navbar-container {

    .tl-nav-links {

      li {
        padding-right: 7px;

        a {
          font-size: 14px;
        }

        .i-link {
          display: none;
        }
      }
    }
  }
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
/* Styles */
  .tl-navbar-container {

    .tl-logo-container {
      display: inline-block;
      width: 50%;
      vertical-align: middle;

    }

    .tl-nav-links {
      display: inline-block;
      vertical-align: middle;
      margin-bottom: 0;

      li {
        display: block;
        padding-bottom: 5px;
        padding-right: 7px;

        a {
          font-size: 14px;
        }

        .i-link {
          display: none;
        }
      }
    }
  }

}