<div class="mission-container">

  <timeline>

    <timeline-event ng-repeat="event in events" class="alternate">
    <a class="anchor" id="{{event.anchorId}}"></a>
      <timeline-badge class="{{event.badgeClass}}">
        <i class="glyphicon {{event.badgeIconClass}}"></i>
      </timeline-badge>
      <timeline-panel class="{{event.badgeClass}}">
        <timeline-heading>
          <div class="mission-loc">{{event.title}}</div>
        </timeline-heading>
          <div id="{{event.id}}" class="mission">
            <div id="{{event.imgId}}" class="mission-image"></div>
            <div class="mission-description">
              <h2>{{event.date}}</h2>
              <h4>{{event.location}}</h4>
              <p ng-bind-html="event.content"></p>

              <div ng-if="event.testimonials" class="testimonial_container">
                <div class="mission-testimonials">{{event.title}} Testimonial &nbsp;&nbsp;&nbsp;<i class="fa fa-heart"></i></div>
                <div ng-repeat="testimonial in event.testimonials">
                  <p class="testimonial">"{{testimonial.quote}}" - <span class="quoted">{{testimonial.author}}</span></p>
                  <img ng-src="{{testimonial.img}}" class="testimonial_image" alt="{{testimonial.imgAlt}}"/>
                </div>
              </div>
            </div>
          </div>
      </timeline-panel>
    </timeline-event>
  
  </timeline>
</div>