.flex-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;  
  flex-direction: column;
  align-items: center;
}

.content {
  flex-grow: 1;
  height: 200px;
  width: 100%;
  margin: 5px;
  -webkit-box-shadow: 0px 2px 2px 2px #D3D3D3;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 0px 2px 2px 2px #D3D3D3;  /* Firefox 3.5 - 3.6 */
  box-shadow: 0px 2px 2px 2px #D3D3D3;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

#content-2015, #content-2013, #content-2012 {
  position:relative;

  .content-text {
      position: absolute;
      overflow: hidden;
      left: 0;
      top: 0;
      height: 200px;
      width: 100%;
      display: block;
      z-index: 1;
      border-bottom: thick solid $hh_orange;
      background-color: rgba(0, 0, 0, 0.5);
      padding: 10px;
      color: #FFF;

      .stat {
        font-weight: 600;
        color: $hh_orange;
        font-size: 1.5em
      }

      .btn-2015 {
        display: none;
      }

      h2 {
        font-size: 14px;
        margin: 0;
      }

      h3 {
        font-size: 12px;
        margin: 2.5px 0;
      }

      ul {
        list-style-type: none;
        padding-left: 5px;
        li {
          font-size: 12px;
          margin: -4px 0;
        }
      }
      
    }
}
.homepage-img {
  background-repeat: no-repeat;
  height: 200px;
  background-position: 0;
  background-size: cover;

}
#main-img {
    background-image: url(http://res.cloudinary.com/hgahynedu/image/upload/v1428450622/philippines_1_sm_awhgad.jpg);
    background-repeat: no-repeat;
    height: 200px;
    background-position: 0;
    background-size: cover;
}
#main-img-2015 {
    background-image: url(http://res.cloudinary.com/hgahynedu/image/upload/v1445539213/jun2015_missionPrev_askb4c.jpg);

}
#main-img-2012 {
    background-image: url(http://res.cloudinary.com/hgahynedu/image/upload/v1428450622/2012_mission_b8sy8q.jpg);

}
#main-img-2013 {
    background-image: url(http://res.cloudinary.com/hgahynedu/image/upload/v1428450623/2013_mission_zig7m7.jpg);

}

.main-content {
  position: relative;
  flex-grow: 1;
  order: 1;
  height: 200px;
  flex-basis: auto;
  width: 100%;
  margin: 5px;
  -webkit-box-shadow: 0px 2px 2px 2px #D3D3D3;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 0px 2px 2px 2px #D3D3D3;  /* Firefox 3.5 - 3.6 */
  box-shadow: 0px 2px 2px 2px #D3D3D3;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */

  #main-info {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    height: 200px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    border-bottom: thick solid $hh_orange;
    color: #FFF;
    padding-left: 25px;
    text-align: center;

    h1 {
      font-weight: 600;
      font-size: 14px;
    }

    p {
      display: none;
    }
  }

}
.main-banner {
  order: 2;
  flex-grow: 1;
  flex-basis: auto;
  width: 100%;
  margin: 5px;
  text-align: center;

  .info-title {
    position: relative;
    background-image: url(http://res.cloudinary.com/hgahynedu/image/upload/v1428450620/hh-no-text_ulwcnj.png);
    background-repeat: no-repeat;
    height: 50px;
    width: 100px;
    background-position: 0;
    display: block;
    margin: 10px auto 5px auto;

    .info-text {
      position: absolute;
      font-weight: 600;
      font-size: .8em;
      top: 30px;
      left: 40px;
    }

  }

  .info-description {
    display: block;
  }
}
#content-2015 {
  order: 3;
}
#content-2013 {
  order: 4;
}
#content-2012 {
  order: 5;
}

#promo-video {
  margin: 10px auto;
  text-align: center;
}

.donate-btn {
  background-color: $hh_red;
  height: 50px;
  width: 150px;
  padding-top: 15px;
  margin-top: 15px;

a, a:visited {
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 1em;

    &:hover {
      text-decoration: none;
      color: white;
      cursor: pointer;
    }
  }
}


/* Larger screens */
@media all and (min-width: 500px) {
  .flex-container {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .content {
    width: 400px;
    height: 450px;
    }

    #content-2015, #content-2013, #content-2012 {
      position:relative;
      overflow: hidden;
      &:hover {
        .content-text {
          background-color: rgba(0, 0, 0, 0.7);
          opacity: 1;
           transition: opacity .25s ease-in-out;
           -moz-transition: opacity .25s ease-in-out;
           -webkit-transition: opacity .25s ease-in-out;
        }
      }
    .content-text {
      opacity: 0;
      height: 450px;
      padding: 25px;

      .btn-2015 {
        display: block;
        background-color: $hh_red;
        height: 75px;
        width: 250px;
        padding-top: 25px;
        margin: 25px auto 0 auto;
        text-align: center;
        font-size: 1.2em;
        font-weight: 600;
        &:hover {
          color: #FFF;
        }
      }

      .stat {
      }

      h2 {
        font-size: 26px;
      }
      h3 {
        font-size: 24px;
      }

      ul {
        list-style-type: none;
        li {
          font-size:18px;
        }
      }
    }
  }

  .homepage-img {
    height: 450px;
  }

  .main-banner {
    min-height: 100px;
    text-align: middle;

    .info-title {
      width: 100px;
      display: inline-block;
      vertical-align: middle;
      margin: 5px 0 0 25px;

      .info-text {
        position: absolute;
        font-weight: 600;
        font-size: .8em;
        margin-top: -2px;
      }
    }

    .info-description {
        display: inline-block;
        vertical-align: middle;
        margin: 0 25px 0 25px;
        font-size: 1.2em;
      }
  }

  .main-content {
    width: 100%;
    height: 450px;
    position: relative;
    overflow: hidden;
    &:hover {
        #main-info {
          opacity: 1;
           transition: opacity .25s ease-in-out;
           -moz-transition: opacity .25s ease-in-out;
           -webkit-transition: opacity .25s ease-in-out;
        }
      }

    #main-img {
      background-image: url(http://res.cloudinary.com/hgahynedu/image/upload/v1428450625/philippines_1_nc47in.jpg);
      min-height: 450px;
    }
    #main-info {
      position: absolute;
      left: 0;
      height: 450px;
      background-color: rgba(0, 0, 0, 0.7);
      opacity: 0;
      
      h1 {
        font-size: 28px;
      }

      p {
        display: block;
        font-size: 14px;
    }
    }
  }


  .donate-btn {
    background-color: $hh_red;
    height: 100px;
    width: 300px;
    padding-top: 25px;
    margin-top: 100px;

    a {
      font-size: 2em;
    }
  }
}

