.tl-img-cover {
    width: 100%;

    .homepage-photo {
        background: url(../assets/images/phil_2013.jpg);
        background-repeat: no-repeat;
        width: 100%;
        height: 700px;
        background-position: -200px -400px;
    }
}



/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
/* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
/* Styles */
  .tl-img-cover {
    .homepage-photo {
      height: 500px;
      background-position: -700px -680px;
    }
  }


}