form {
  padding: 25px;

  .info-container {
    margin-bottom: 15px;

    .infographic-caption {
      margin: 10px;
      text-align: left;
    }

    #infographic {
      position: relative;
      padding: 5px;
      margin: 10px auto;
      font-size: 14px;
      font-weight: 600;
      display: block;
      text-align: center;

      .total {
        font-size: 1.3em;
        font-weight: 600;
        color: $hh_red;
        display: inline-block;
      }

      .operation {
        color: #000;
        font-size: 1em;
      }
      .subtract {
        font-size: 12px;
        margin-left: 25px;
        display: inline-block;
        vertical-align: middle;
      }

      .equals {
        display: block;
        width: 100px;
        height: 10px;
        border-top: 2px solid #000;
      }
    }

    #food-pack {
      padding-top: 15px;
      ul {
        list-style-type: none;
        padding: 0;
      }
    }
  }
  #shipping-check {
    padding: 0;
  }

  a, a:visited {
    color: $hh_orange;

    &:hover {
      text-decoration: none;
      color: $hh_red;
      cursor: pointer;
    }
  }

.important-amount {
  display: inline-block;
  font-size: 1.2em;
  font-weight: 600;
  color: $hh_red;
}

  .donation-container, .form-group {
    padding-left: 10px;
  }
  .donation-container,
  .donation-label{
    height: 25px;
    display: inline-block;
  }
}
.form-control {
  width: 45%;


}
.input-area {
  margin: 0 auto;
}
.location {
  width: 30%;
}


.form-group {
  display: block;

  // label {
  //   padding-right: 25px;
  //  }

   input {
    display: inline-block;

    &.ng-dirty.ng-invalid-required {
      background-color: $hh_red;
      color: #FFF;
    }

   }
 }

.donate-now {
  margin: 5px 0 10px 0;
 }

.inline {
  display: inline-block;
  width: 100px;
}

.error, .number-important {
  color: $hh_red;
  font-weight: 600;
  // font-size: 18px;
}

.fa-info-circle  {
  font-weight: 600;
  font-size: 18px;
}

.rehab {
  color: $hh_gray;
  font-size: 14px;
}

img {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}

@media all and (min-width: 500px) {
  form {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;  
    flex-direction: row;
    justify-content: center;
    .info-container {
      order: 1;
      #infographic {
        font-size: 18px;
        margin-bottom: 0;
        padding-top: 25px;
        text-align: center;

      }
      #infographic, #food-pack {
        background-color: #FFFACD;
        padding-left: 25px;
        padding-right: 25px;
        margin-right: 50px;

      }

      #food-pack {
        margin-top: 0;
        padding-bottom: 25px;
      }
      .equals {
        border-top: 4px solid #000;
      }
    }

    .input-area {
      //width:65%;
      order: 2;
      padding: 0 25px 0 25px;
    }
  
  }
  img {
    max-width: 80%;
    height: auto;
    width: auto\9; /* ie8 */
  }
}
