.donation-container {
  text-align: center;
  margin-bottom: 50px;

  img {
    width: 100%
  }
}

.donation-description {
  text-align: left;
  width: 80%;
  margin: 50px auto;
}

.additional-donation {
  display: block;
  margin-bottom: 15px;
}

.paypal-disclaimer {
  display: block;
  color:$hh_gray;
}

.red-star, .donation-amount{
  color: $hh_red;
  font-weight: bold;
  font-size: 16px;
}

.fa-paypal {
  color: #003087;
}